.main-home{
    display: flex;
    color:black;
    justify-content: center;
    height: 100vh;
}

.title-home{
    font-size: 80px;
}

.border{
    border-width: 10px;
}

.footer {
    background: #216353;
    height: 6rem;
    margin-top: 3rem;
  }
